.c3-chart-text .c3-text {
  font-family: 'FontAwesome';
  font-size: 22px;
}
.c3-target-value text {
   fill: orange !important;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.current {
  padding: 10px; 
  width: 100%;
}

.current th, .current td {
  border-bottom: 1px solid grey;
  padding: 5px;
}

.current th {
  font-weight: bold;
}


.row {
  padding: 8px;
}

.panel-heading {
  padding: 0;
}


.code-red {
  background-color: #710d08;
  color: white;
}
.extreme {
  background-color: #ee2e24;
  color: white;
}
.severe {
  background-color: #f89829;
  color: white;
}
.very-high {
  background-color: #fff002;
  color: black;
}
.high {
  background-color: #00adef;
  color: black;
}
.low-moderate {
  background-color: #79c141;
  color: black;
}

@media (prefers-color-scheme: dark) {
  .code-red {
  background-color: #710d08;
  color: white;
}
.extreme {
  background-color: #ee2e24;
  color: white;
}
.severe {
  background-color: #f89829;
  color: white;
}
.very-high {
  background-color: #fff002;
  color: black;
}
.high {
  background-color: #00adef;
  color: black;
}
.low-moderate {
  background-color: #79c141;
  color: black;
}
}
