.c3-chart-text .c3-text {
  font-family: 'FontAwesome';
  font-size: 22px;
}
.c3-target-value text {
   fill: orange !important;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#burnarea, #incidents, #warnings {
  border: 1px solid black; 
  padding: 1%; 
  width: 100%;
}