.c3-chart-text .c3-text {
  font-family: 'FontAwesome';
  font-size: 22px;
}
.c3-target-value text {
   fill: orange !important;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.current {
  padding: 10px; 
  width: 100%;
}

.current th, .current td {
  border-bottom: 1px solid grey;
  padding: 5px;
}

.current th {
  font-weight: bold;
}

